<template name="layout">
    <div class="nav-bar">
        <div class="backButton">
            <i id="backFaButton" class="fa fa-arrow-circle-left fa-3x"></i>
        </div>
        <div class="sidePanel">
            <button class="sidePanelButton" type="button"><i class="fa fa-bars fa-3x"></i>
            </button>
        </div>
    </div>
    <div class="header">
        <h1 class="titleSearch"><a href="/">Film Hunter</a></h1>
    </div>
    <div class="container">
        {{ > search }} {{> yield}}
    </div>
    {{> slidePanel}}
</template>
<template name="sidePanel">
    <p class="sidePanelEle"><a role="menuitem" tabindex="-1" href="/">Home</a></p>
    <p class="sidePanelEle"><a role="menuitem" tabindex="-1" href="{{pathFor 'help'}}">Help</a></p>
    <p class="sidePanelEle"><a role="menuitem" tabindex="-1" href="{{pathFor 'bugReport'}}">Bug Report</a></p>
</template>
