<template name="layout">
    <div class="container-fluid nav-fixed">
        <div class="nav-bar">
            <div class="col-xs-2 col-sm-2 col-md-2 backButton">
                <i id="backFaButton" class="fa fa-arrow-left fa-2x"></i>
            </div>
            <div class="col-xs-4 col-sm-8 col-md-8"></div>
            <div class="col-xs-6 col-sm-2 col-md-2 sidePanel">
                <button id="userButton" class="sidePanelButton" type="button">{{ #if currentUser }} <i class="fa fa-user fa-2x userLogged"></i> {{ else }} <i class="fa fa-user fa-2x"></i> {{ /if }}
                </button>
                <button id="menuButton" class="sidePanelButton" type="button"><i class="fa fa-bars fa-2x"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="titleBackground">
        <a href="/"><img id="logo" src="/logo.png"></a>
        <h1 class="title">Film Hunter</h1>
        <div class="container">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 searchBar">
                <div class="col-xs-10 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-2">
                    {{> inputAutocomplete settings=settingsInputSearch id="filmSearch" placeholder="Search for a movie.."}}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <button id="goSearch" type="button">
                        <i class="fa fa-search fa-2x"></i>
                    </button>
                </div>
            </div>
        </div>
        {{> yield}}
    </div>
    {{> slidePanel}}
</template>
<template name="home">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <p class="infoHome">You don’t know what to see this evening?
                <br/>Type few keywords into the search bar and let me help you.
                <br/>
                <br/>If you are looking for a movie from a specific director, type <em>d:</em> before the name,
                <br/>if you want a specific actor, type <em>a:</em> before the name.
                <br/>You want a specific genre? Type <em>g: genre</em>.</p>
        </div>
    </div>
</template>
<template name="sidePanel">
    <p class="sidePanelEle"><a role="menuitem" tabindex="-1" href="/">Home</a></p>
    <p class="sidePanelEle"><a role="menuitem" tabindex="-1" href="{{pathFor 'favourites'}}">Favourites</a></p>
    <p class="sidePanelEle"><a role="menuitem" tabindex="-1" href="{{pathFor 'help'}}">Help</a></p>
    <p class="sidePanelEle"><a role="menuitem" tabindex="-1" href="{{pathFor 'bugReport'}}">Bug Report</a></p>
    <p class="sidePanelEle"><a role="menuitem" tabindex="-1" href="{{pathFor 'account'}}">Account</a></p>
</template>
<template name="dropdown">
    <p id="{{id}}" class="dropdownLabel">{{name}}</p>
</template>
