<template name="bugReport">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
	            <h1 class="infoTitle">Bug Report</h1>
	    </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
            <div class="bugreportContainer upSpace">
                <img src="bugreport.jpg">
                <p class="sendBugReport">You can report bug here.
					<br/>Please provide a brief description of the bug and a brief description of what you were doing.
				</p>
				<ul class="sendBugReportList">
					<li><i>Good:</i> I wrote "evolution" in the search bar after pressing twice back with the back button of the browser and the page is blocked.</li>
					<li><i>Bad:</i> The page is blocked.</li>
				</ul>
				 <p class="sendBugReport">
					<br/>Bug Report:
				</p>
                <textarea id="textBugReport" class="form-control" rows="5" placeholder="Bug Report"></textarea>
                <button id="sendBugReport" type="button" class="sendBugButton">Send</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
            <div class="bugreportContainer bottomSpace">
                <p class="infoFH">Film Hunter is still in beta and is improved weekly, all the movies data and images come from the
                    <a href="https://www.themoviedb.org/" target="_blank">TMDb</a> database<!--, the reviews come from <a href="http://www.rottentomatoes.com/" target="_blank">Rotten Tomatoes</a>--> and the tweets from <a href="https://twitter.com/" target="_blank">Twitter</a>.
                    <br/>
                    <br/>Made with &nbsp;<i class="fa fa-heart"></i>&nbsp; by <a href="https://twitter.com/delvedor" target="_blank">@delvedor</a>.
                    <br/>The project is OpenSource and you can find the code on <a href="https://github.com/delvedor/FilmHunter" target="_blank">GitHub</a>!
                    <br/>
                    <br/>FilmHunter v0.4.1
                </p>
            </div>
        </div>
    </div>
</template>