<template name="info">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
            <h1 class="infoTitle">Info</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="infoContainer">
                <img src="info.jpg">
                <p class="howToUse">You know that moment when you are speaking about a film but you cannot remember its title?
                    <br/>Film Hunter can help you!
                    <br/>
                    <br/>Write one or more words that describe the film and see the magic!
                    <br/>Film Hunter will search for you a lot of films corresponding to your search key and will give you the most probables titles.
                    <br/>You can press over a result for see if is the film you were looking for, and if not, Film Hunter will give you related results.
                    <br/>
                    <br/>Do you want to have an example?
                    <br/>Try to type "Alien" into the search bar.
                    <br/>
                    <br/>The only language supported at the moment is English.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="infoContainer bottomSpace">
                <p class="infoFH">Film Hunter is still in beta and is improved weekly, all the data come from the
                    <a href="https://www.themoviedb.org/" target="_blank">TMDb</a> database.
                    <br/>Made with &nbsp;<i class="fa fa-heart"></i>&nbsp; by <a href="https://twitter.com/delvedor" target="_blank">@delvedor</a>.
                    <br/>The project is OpenSource and you can find the code on <a href="https://github.com/delvedor/FilmHunter" target="_blank">GitHub</a>!
                    <br/>
                    <br/>FilmHunter v0.3.3
                </p>
            </div>
        </div>
    </div>
</template>