<template name="movieInfo">
    <div class="row filmInfo">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h2 class="filmInfoTitle">{{ movieInfo.title }}</h2>
            <h3 class="filmInfoTagline">{{ movieInfo.tagline }}</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p class="filmInfoGenres">Genres: {{ movieInfo.genres }}</p>
            <p class="filmInfoReleaseDate">Release date: {{ movieInfo.release_date }}</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="height:auto;">
            <div class="flex-video widescreen">
                <iframe src="{{ movieInfo.trailer }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <div class="colElement">
                <div class="movieInfoBoxes" style="background-color: #FAFAFA;">
                    <p class="aboutMovieText">Actors: {{ movieInfo.cast }}</p>
                    <p class="aboutMovieText">Director: {{ movieInfo.director }}</p>
                    <p class="aboutMovieText">Plot: {{ movieInfo.plot }}</p>
                </div>
            </div>
            {{ #each movieInfoBoxes }}
            <div class="colElement">
                <div class="movieInfoBoxes" style="{{ background }}">
                    <p class="{{ boxType }}">{{ #if isUser }}<i class="fa fa-twitter fa-2x" style="color:#616161; margin-bottom:10px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ user }}<br/>{{ /if }}{{ text }}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{ > similarFilm }}
</template>

<template name="similarFilm">
    <div class="col-xs-12 col-sm-12 col-md-12" style="height:auto;">
        <p class="similarFilm">Similar Movies</p>
    </div>
    {{ #each similarFilmArr }}
    <div id="{{ id }}" class="filmResult {{ order }}">
        <div class="filmResultContainer">
            <div class="poster" style="background-image:url('{{image_path}}')"></div>
            <div class="filmDescription">
                <p>
                    {{ title }}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</template>