/****** General ******/

@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond-Regular.ttf');
    font-weight: 400;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}

.pepperLine {
    margin: 0;
    padding: 0;
    border: none;
    height: 3px;
    background-color: #E53935;
}
/****** Home ******/

.titleBackground {
    text-align: center;
}

.title {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    color: #616161;
    margin-top: 50px;
}

.searchBar {
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-top: 20px;
    border: 1px #9E9E9E solid;
}

#filmSearch {
    width: 100%;
    height: 50px;
    font-size: 1.4em;
    font-weight: 300;
    color: #616161;
    background-color: #FFFFFF;
    text-align: center;
    border: none;
}

#goSearch {
    color: #9E9E9E;
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
    line-height: 50px;
    border-style: none;
}

#goSearch:hover {
    color: #616161;
}

.infoHome {
    width: 100%;
    padding: 50px 0;
    margin: 0 auto;
    font-weight: 300;
    color: #616161;
    text-align: justify;
}
/****** NavBar ******/

.nav-fixed {
    height: 60px;
    line-height: 60px;
}

.searchbar-fix {
    background-color: #FFFFFF;
    border-bottom: 1px #BDBDBD solid;
    height: 60px;
    line-height: 60px;
}

#logoSmall {
    height: 50px;
    width: 50px;
}

.backButton {
    text-align: left;
    color: #616161;
    display: inline-block;
}

.sidePanelButton {
    width: 30px !important;
    height: 30px !important;
    color: #616161;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
}

.sidePanelButton:hover,
.slide-panel .close-panel:hover {
    color: #424242;
}

.sidePanelButton .userLogged {
    color: #D32F2F;
}

.sidePanel {
    text-align: right;
    display: inline-block;
}

.sidePanel button:nth-child(2) {
    margin-left: 5px;
}

.slide-panel {
    border-style: none;
    background-color: rgba(250, 250, 250, 0.95);
}

.slide-panel .close-panel {
    font-size: 4em;
    color: #616161;
}

.sidePanelEle {
    text-align: center;
    margin: 50px 0;
}

.sidePanelEle a {
    margin: 0 15px;
    font-weight: 300;
    color: #616161;
    text-transform: uppercase;
}

.sidePanelEle.accountSidePanel a {
    font-size: 1.2em;
}

.hide {
    display: none;
}

.userButton {
    text-align: right;
}

#filmSearch,
button:focus {
    outline: none;
}
/****** Page NotFound ******/

.notfound {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 100px;
    color: #9E9E9E;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 2px;
    padding: 0;
    margin-top: 40px;
}

.notfound p {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.notfoundImage {
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
/****** Page Results ******/

.dropdownLabel,
.dropdownLabelHome {
    font-weight: 300;
    font-size: 1.2em;
    padding: 5px;
    margin: 0;
    width: 200px;
    text-align: center;
}

.dropdownLabelHome.-autocomplete-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -30%;
}

.dropdownLabel.-autocomplete-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.linkFilmResult {
    color: #424242;
}

.filmResult-col {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 2px;
}

.poster-col {
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.filmResult-col.smallBox .poster-col {
    height: 28vh;
}

.filmResult-col.bigBox .poster-col {
    height: 42vh;
}

.filmDescription-col {
    padding: 10px;
    font-size: 1.3em
}

.filmDescription {
    padding: 10px;
}

.filmDescription-col {
    padding: 10px;
}

.gridInfo,
.resultsGrid {
    margin: 0 auto;
}

.resultsGrid {
    padding: 40px 0;
}

#loadMore {
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #616161;
    padding: 12px 15px;
    border: none;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border-bottom: 1px #BDBDBD solid;
}
/****** Movie info ******/

.filmInfo {
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: 40px 0;
}

.filmInfoTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.2em;
}

.filmInfoTagline {
    text-align: center;
}

.filmInfoGenres {
    text-align: center;
    font-size: 1.3em;
}

.filmInfoReleaseDate {
    text-align: center;
    font-size: 1.3em;
}

.movieInfoBoxes {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    padding: 15px;
}

.boxTweet {
    height: auto;
    font-size: 1.15em;
    font-weight: 300;
    text-align: justify;
    /*word-break: break-all;*/
}

.boxImage {
    height: 300px;
}

.boxReview {
    height: auto;
    text-align: justify;
    font-size: 1.15em;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'EBGaramond', serif;
}

.stars {
    height: 90px;
    line-height: 70px;
    text-align: center;
}

.star {
    color: #616161;
}

.textBox {
    display: block;
}

.textBox.boxReview::first-letter {
    font-size: 1.8em;
}

.userBox {
    font-size: 1.2em;
}

.aboutMovieText {
    font-size: 1.3em;
    text-align: justify;
}

.similarFilm {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.8em;
    color: #9E9E9E;
    padding: 5px;
}

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}

.flex-video.widescreen {
    margin-top: 20px;
    padding-bottom: 57.25%;
}

.flex-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.facebookShare,
.twitterShare,
.googleplusShare,
.mailShare {
    cursor: pointer;
    color: #616161;
}

.mailShareLink:link,
.mailShareLink:visited,
.mailShareLink:active {
    color: #616161;
}

.facebookShare:hover,
.twitterShare:hover,
.googleplusShare:hover,
.mailShare:hover {
    color: #424242;
}

.addFavourites {
    text-align: right;
    padding-top: 10px;
    cursor: pointer;
}

.isFav {
    color: #E53935;
}

.isFav:hover {
    color: #F44336;
}

.notFav {
    color: #616161;
}

.notFav:hover {
    color: #424242;
}

.noPublicFavourites {
    color: #616161;
    font-size: 1.1em;
    margin: 20px 0 50px 0;
}
/****** Info page ******/

.infoTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: #9E9E9E;
    padding: 5px;
    font-size: 2em;
}

.infoContainer,
.bugreportContainer {
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: 10px 0;
    padding: 20px;
}

.userContainer {
    background-color: #FFFFFF;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
}

.infoContainer.bottomSpace {
    margin-bottom: 40px;
}

.infoContainer.upSpace {
    text-align: justify;
}

.infoContainer img,
.bugreportContainer img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.howToUse,
.sendBugReport {
    text-align: left;
    font-weight: 300;
    font-size: 1.4em;
    color: #424242;
    padding: 5px;
    line-height: 35px;
}

.howToUseDeleteUser {
    font-size: 1.2em;
}

.sendBugReportList {
    text-align: left;
    font-weight: 300;
    font-size: 1.3em;
    color: #424242;
}

.infoFH {
    font-weight: 300;
    font-size: 1.4em;
    color: #424242;
    padding: 5px;
    line-height: 35px;
    text-align: center;
}

.sendBugButton,
.removeAccountBtn {
    width: 30%;
    margin-top: 15px;
    margin-bottom: 20px;
    height: auto;
    font-size: 1em;
    padding: 8px 10px;
    font-weight: 300;
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: #FAFAFA;
    text-transform: uppercase;
}

.removeAccountBtn {
    background-color: #E53935;
}

.showSettings {
    height: 40px;
    font-weight: 300;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.showSettings.closeSet {
    border: none;
    text-align: center;
    color: #42A5F5;
    background-color: #FFFFFF;
}

.showSettings.openSet {
    border-radius: 5px;
    text-align: center;
    color: #F7F7F7;
    background-color: #42A5F5;
}

.settingsSeparator {
    height: 2px;
    width: 100%;
    background-color: #F7F7F7;
    margin: 10px 0;
}

.settingsInfo {
    text-align: left;
    font-size: 1.3em;
    margin: 20px 0 5px 0;
    color: #616161;
}

.sendBugButton {
    background-color: #42A5F5;
}

.userName {
    font-weight: 300;
    font-size: 2.2em;
    margin-bottom: 30px;
}

.userDescription {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.3em;
}

.taglineCount {
    text-align: right;
    color: #616161;
    font-weight: 300;
}

.inputLabel {
    font-weight: 300;
    padding-right: 15px;
}

.inputLabel.url {
    padding-right: 3px;
}

#setTagline,
#setUrl,
#textBugReport {
    border-radius: 2px;
}

#setUrl {
    border: 1px #CCCCCC solid;
    width: 60%;
    color: #555555;
}

.pDangerZone {
    margin-top: 15px;
}

.pDangerZone,
.settingsTitle {
    color: #616161;
    letter-spacing: 5px;
    text-transform: uppercase;
}
/****** User Account ******/

.userImage {
    border-radius: 50%;
}
/****** Media queries ******/

@media only screen and (min-width: 240px) {
    html,
    body {
        font-size: 10px;
    }
    #logo {
        width: 120px;
        height: 120px;
        margin-top: -10px;
    }
    #login-buttons {
        margin-top: 2px;
    }
    .colElement-movieInfo,
    .colElement-results {
        margin: 0 5px 10px 5px;
    }
    .title {
        font-size: 1.8em;
        letter-spacing: 10px;
        padding-left: 15px;
        margin-top: 30px;
    }
    .infoHome {
        font-size: 1.2em;
    }
    .sidePanelEle a {
        font-size: 2.5em;
    }
    .colElement-results {
        width: 38vw;
    }
    .colElement-movieInfo {
        width: 90vw;
    }
    .userImage {
        width: 120px;
    }
    .inputLabel {
        font-size: 1.4em;
    }
    #setTagline,
    #setUrl,
    #textBugReport {
        font-size: 1.4em;
    }
    .pDangerZone,
    .settingsTitle {
        font-size: 1.3em;
    }
    .showSettings {
        font-size: 1em;
    }
}

@media only screen and (min-width: 320px) {
    html,
    body {
        font-size: 11px;
    }
    .title {
        font-size: 2em;
        letter-spacing: 15px;
    }
    .infoHome {
        font-size: 1.3em;
    }
    .boxReview {
        line-height: 25px;
    }
    .colElement-results {
        width: 42vw;
    }
}

@media only screen and (min-width: 480px) {
    html,
    body {
        font-size: 12px;
    }
    .title {
        letter-spacing: 22px;
        padding-left: 25px;
        margin-top: 50px;
    }
    .colElement-results {
        width: 45vw;
    }
    .colElement-movieInfo {
        width: 40vw;
    }
}

@media only screen and (min-width: 768px) {
    html,
    body {
        font-size: 14px;
    }
    #logo {
        width: 200px;
        height: 200px;
        margin-top: 40px;
    }
    #login-buttons {
        margin-top: 5px;
    }
    .colElement-movieInfo,
    .colElement-results {
        margin: 0 10px 20px 10px;
    }
    .title {
        margin-top: 50px;
    }
    .boxReview {
        line-height: 28px;
    }
    .sidePanelEle a {
        font-size: 2em;
    }
    .colElement-results {
        width: 30vw;
    }
    .filmInfoTitle {
        margin-top: -5px;
        padding: 0 40px;
    }
    .userImage {
        width: 230px;
    }
    .inputLabel {
        font-size: 1.3em;
    }
    #setTagline,
    #setUrl,
    #textBugReport {
        font-size: 1.3em;
    }
    .pDangerZone,
    .settingsTitle {
        font-size: 1.2em;
    }
    .showSettings {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 992px) {
    html,
    body {
        font-size: 14px;
    }
    .title {
        font-size: 2.9em;
        letter-spacing: 50px;
        padding-left: 50px;
    }
    .boxReview {
        line-height: 30px;
    }
    .colElement-results {
        width: 20vw;
    }
    .colElement-movieInfo {
        width: 30vw;
    }
    .userImage {
        width: 250px;
    }
}
/****** Switch publicFav ******/

.onoffswitch {
    margin: 0 auto;
    position: relative;
    width: 88px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 22px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 15px;
    background-color: #42A5F5;
    color: #FAFAFA;
    text-align: left;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 15px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 20px;
    margin: 5px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 54px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
