/****** General ******/

@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond-Regular.ttf');
    font-weight: 400;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}
/****** Media queries ******/

@media only screen and (min-width: 240px) {
    html,
    body {
        font-size: 10px;
    }
}

@media only screen and (min-width: 320px) {
    html,
    body {
        font-size: 11px;
    }
}

@media only screen and (min-width: 480px) {
    html,
    body {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {
    html,
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {}
