<!-- 
    Favourites if publicFav is true
-->
<template name="favourites">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
                <h1 class="favTitle">Favourites</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row resultsGrid">
            {{ #each favourites }}
            <a href="/m={{ id }}" class="linkFilmResult">
                <div id="{{ id }}" class="colElement-results filmResult-col {{ order }}">
                    <div class="poster-col" style="background-image:url('{{image}}')"></div>
                    <div class="filmDescription-col">
                        <p>
                            {{ title }}
                        </p>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</template>
<!-- 
    Favourites if publicFav is false
-->
<template name="noPublicFavourites">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
                <h1 class="infoTitle">Favourites</h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
            <p class="noPublicFavourites">This user has decided to not make public his favorites.</p>
        </div>
    </div>
</template>
